@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600;800&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer utilities {
    .px-default {
        @apply px-6 md:px-9 xl:px-9
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
body {
    @apply font-body font-normal leading-relaxed text-base;
}

.heading {
    @apply font-heading uppercase leading-tight font-extrabold 
}
.heading-xl {
    @apply text-7xl
}
.heading-md {
    @apply text-4xl
}
.heading-sm {
    @apply text-xl
}

.link {
    @apply capitalize font-heading leading-none font-semibold transition-opacity ease-in delay-150 hover:opacity-75
}

.link-sub {
    @apply text-sm 
}

body:has(.shop) {
    @apply no-scrollbar
}

.group-gender,
.group-category,
.group-brand,
.group-colors {
    @apply w-28 rounded-none
}
.group-sizes {
    @apply w-[54px] py-2
}
.group-colors {
    @apply items-center justify-start gap-x-2 py-0.5 px-0
}
.input-colors {
    @apply relative w-5 h-5 border-none rounded-full
}